
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.2rem;
}

.d-flex{
  display: flex;
}

.t-center{
  text-align: center;
}

.mt-20{
  margin-top: 20px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.mr-7{
  margin-right: 7px;
}

.container{
  margin: auto;
  width: 50%;
  margin-top: 50px;
}

.info1 label, .info2 label{
  display: block;
}

.info1 input, .info2 input{
  display: block;
}

.info1{
  width: 45%;
}

.info2{
  width: 45%;
}

.infosect{
  margin: auto;
  width: 70%;
  justify-content: space-between;
}

.name label{
  float: right;
}

.name{
  margin-right: 10px;
  width: 45%;
}
.inputarea{
  width: 45%;
}

.names{
  margin-right: 10px;
}

.tel{
  float: right;
}

input, textarea{
  border: 2px solid #d4d1d6;
  border-radius: 2px;
}

.in{
  margin-bottom: 1.5px;
  width: 100%;
  height: 25px;
}

.name label::before, .req::before, .names label::before{
  content: "*";
}

.choice label{
  display: block;
}

.choice{
  justify-content: space-between;
  margin: auto;
  width: 60%;
  margin-bottom: 30px;
}

.time label{
  display: block;
}

.time{
  width: 48%;
}
.t-area{
  width: 48%;
}

.input-time{
  width: 50%;
  padding-right: 0px;
  float: left;
}

textarea{
  width: 80%;
  height: 65px;
  float: left;
}

.delivery{
justify-content: space-between;
margin: auto;
width: 60%;
}

.float{
  float: right;
}

.btn{
  margin-top: 15px;
}

button{
  padding: 3px 10px;
  cursor: pointer;
  border: 1px solid #d4d1d6 ;
  font-size: 1rem;
  margin-bottom: 10px;
}






